.menubar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;

}

.menubar_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_item {
  float: left;
}

.menu_item a {
  display: block;
  padding: 14px 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.menu_item a:hover {
  background-color: #111;
}

.logo_box {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
}
